@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fade-in-delay: 4s;
}

.header {
    background-image: url("/img/bg-header.jpg");
    background-size: 100vw;
}

.header h1 {
    font-family: 'Satisfy', cursive;
}

.fade-in {
    animation: fadein var(--fade-in-delay);
    -moz-animation: fadein var(--fade-in-delay); /* Firefox */
    -webkit-animation: fadein var(--fade-in-delay); /* Safari and Chrome */
    -o-animation: fadein var(--fade-in-delay); /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}