@tailwind base;
@tailwind components;
@tailwind utilities;

:root{scroll-behavior:smooth;}

.header {
    background-image: url("/img/bg-header.jpg");
    background-size: 100vw;
}

.header h1 {
    font-family: 'Satisfy', cursive;
}

.scroll-top {
    position: absolute;
    top: 120vh;
    bottom: 2rem;
    right: 1rem;
  }
  
  .scroll-top__link {
    position: -webkit-sticky;
    position: sticky;
    top: 90vh;
    @apply bg-yellow-400 font-extrabold text-4xl bg-opacity-70 rounded-lg px-4 py-1 text-purple-700;
  }


.fade-in-1s {
    --fade-in-delay: 1s;
    animation: fadein var(--fade-in-delay);
    -moz-animation: fadein var(--fade-in-delay); /* Firefox */
    -webkit-animation: fadein var(--fade-in-delay); /* Safari and Chrome */
    -o-animation: fadein var(--fade-in-delay); /* Opera */
}

.fade-in-4s {
    --fade-in-delay: 4s;
    animation: fadein var(--fade-in-delay);
    -moz-animation: fadein var(--fade-in-delay); /* Firefox */
    -webkit-animation: fadein var(--fade-in-delay); /* Safari and Chrome */
    -o-animation: fadein var(--fade-in-delay); /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}